body {
    margin: 60px auto;
    width: 70%;
}

.profile-pic {
    max-width: 10px; /* Set a small max width */
    height: auto;     /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: Makes the picture round */
}

@media (min-width: 200px) {
    .profile-pic {
        float: right;
        margin: 7px 0px 0px 20px;
        max-width: 40px; /* Even smaller for medium screens */
    }
}

@media (min-width: 1300px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    footer {
        margin-top: 20px;
        height: 20px;
    }
    .profile-pic {
        float: right;
        margin: 7px 20px 0px 20px;
        max-width: 40px; /* Small size on large screens */
    }
}


a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h4 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #999;
    font-weight: bold;
}
h5 {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #999;
    font-weight: bold;
}
h6 {
    font-size: 1.1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}